body {
  background-color: #F7F7F7;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #BBBBBB;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #DEDEDE;
}

.inc-exp-container .money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.inc-exp-container .money.plus {
  color: #2ECC71;
}

.inc-exp-container .money.minus {
  color: #C0392B;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9C88FF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #FFFFFF;
  border: 2px solid #9C88FF;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  transition: background-color .5s ease-in-out;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #9C88FF;
  color: #9C88FF;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ECC71;
}

.list li.minus {
  border-right: 5px solid #C0392B;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.list li .delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  outline: none;
}

input[type="text"],
input[type="number"] {
  outline: none;
}
